name: Auto Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 165.22.44.109
          username: deploy
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            cd /var/www/everspeak
            git fetch origin
            git pull origin main
            pm2 restart everspeak
